
@{
    ViewBag.Title = "EscolherParte";
}

<h2>EscolherParte</h2>

@Html.ActionLink("Parte1", "Create", new { part="1" })
@Html.ActionLink("Parte2", "Create", new { part = "2" })
@Html.ActionLink("Parte3", "Create", new { part = "3" })
@Html.ActionLink("Parte4", "Create", new { part = "4" })

