
@{
    ViewBag.Title = "Email já cadastrado";
}

<h2>Email já cadastrado</h2>
<p>
    O e-mail informado já existe em nosso sistema. Recupere sua senha clicando @Html.ActionLink("aqui","ForgotPassword")
</p>
<p>
    Caso já possua um login e queira se cadastrar como piloto, clique @Html.ActionLink("aqui","CadastroPiloto","Manage")
</p>

