@{
    ViewBag.Title = "About";
}
<br/>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    <a href="http://www2.anac.gov.br/anac/Proficiencia_SDEA.asp" target="_blank" class="btn btn-primary btn-lg">Mais sobre o SDEA &raquo;</a>
</p>
