
<div class="col-md-4">
    <h2>@Html.ActionLink("Sotaques", "Index", "Sotaques", null, new { title = "Gerenciar Sotaques" })</h2>

</div>

<div class="col-md-4">
    <h2>@Html.ActionLink("Locutores", "Index", "Locutores", null, new { title = "Gerenciar Locutores" })</h2>

</div>

<div class="col-md-4">
    <h2>@Html.ActionLink("Questoes", "Index", "Questoes", null, new { title = "Gerenciar Sotaques" })</h2>

</div>
